name: Cypress Tests
on: 
  push:
    branches: [ "main" ]
    
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    
    # Define o container do banco de dados
    services:
      postgres:
        image: postgres:16 # Versão estável em 2026
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 1234
          POSTGRES_DB: conduit
        ports:
          - 5432:5432
        # Aguarda o postgres estar pronto para conexões
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Reads version directly from .nvmrc in the root directory
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm' # Optional: automatically caches npm dependencies

      - name: Cypress run
        uses: cypress-io/github-action@v6
        
        env:
          # For recording and parallelization to work you must set your CYPRESS_RECORD_KEY
          # in GitHub repo → Settings → Secrets → Actions
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # Creating a token https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
          # Variáveis para a aplicação se conectar ao banco acima
          DEV_DB_HOSTNAME: localhost
          DEV_DB_USERNAME: postgres
          DEV_DB_PASSWORD: 1234
          DEV_DB_NAME: conduit
          DEV_DB_LOGGGIN: true
          DB_DIALECT: postgres
          #
          NODE_ENV: development
          
        with:
          # Define onde os comandos build e start serão executados
          # Se o seu 'npm start' principal estiver na raiz, use '.' e mude o build
          working-directory: . 
          
          # Use sh -c para que o shell interprete o comando 'cd' e o '&&'
          build: sh -c "cd backend && npx sequelize-cli db:migrate --url 'postgres://postgres:root@localhost:5432/conduit'"
          
          # Automatically uses the Node.js version set in the previous step
          start: npm start
          wait-on: 'http://localhost:3000' # Best practice to ensure app is ready
          browser: chrome
