name: Cypress Tests
on: 
  push:
    branches: [ "main" ]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Reads version directly from .nvmrc in the root directory
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm' # Optional: automatically caches npm dependencies

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          # Automatically uses the Node.js version set in the previous step
          start: npm start
          wait-on: 'http://localhost:3000' # Best practice to ensure app is ready
          browser: chrome
          
        env:
          # For recording and parallelization to work you must set your CYPRESS_RECORD_KEY
          # in GitHub repo → Settings → Secrets → Actions
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # Creating a token https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          NODE_ENV: test  # or 'development' depending on your config/config.json
